@mixin button($color) {
  width: 10rem;
  height: 3rem;
  background-color: var(--white);
  font-size: 1rem;
  text-transform: uppercase;
  color: var(#{$color});
  outline: none;
  border: none;
  font-weight: bold;
}

@mixin line {
  height: 3px;
  background-color: var(--white);
  width: 150px;
  margin: 30px 0;
  display: block;
}

@mixin subtitle {
  color: #c8f099;
  font-weight: 400;
  font-family: "Open Sans";
  font-size: 24px;
}

@mixin text($color) {
  font-weight: 400;
  font-size: 16px;
  font-family: "Open Sans";
  line-height: 1.5rem;
  color: var(#{$color});
}

@mixin  link {
  font-weight: 400;
  font-size: 14px;
  font-family: "Open Sans";
  text-decoration: none;
  color: var(--green);
  border-bottom: 2px solid black;
  text-transform: uppercase;
}
